<%- include('header') %>
<!-- end header section -->
      
      <!-- hero section -->
      <div class="container col-xxl-8 px-5 pb-5 pt-5 mt-5">
        <div class="row flex-lg-row-reverse align-items-top justify-content-center g-0 py-1">
          
          <div class="col-lg-8 my-5 d-flex flex-column align-items-center" data-anima="esquerda">
            
            <!-- <img src="./images/logo/logo.png" class="d-block mx-lg-auto img-fluid pb-3" alt="Monica Costa" width="50%" height="" loading="lazy"> -->
            
            <p class="lead display-6 my-3 mb-lg-5 text-center">
              Política de Privacidade<br>e Termos de Uso
            </p>
           
          </div>
        </div>
      </div>
      <!-- end hero section -->

    </div>  

<!-- Contacts -->
 
  
<div class="container py-5">
    <div class="row">
       <div class="col-md-4">
          <div class="lc-block mb-5 mb-md-0">
             <div editable="rich">
                <h2 class="fw-bolder">Índice</h2>
                <p> 1 - Informações Gerais
                    2 - Quem somos<br>
                    3 - Quem pode usar nosso site<br>
                    4 - Aceitação da Política de Privacidade e dos Termos de Uso<br>
                    5 - São coletadas informações pessoais?<br>
                    6 - Quais informações são coletadas<br>
                    7 - Como são usadas as informações coletadas<br>
                    8 - Por quanto tempo estes dados são armazenados<br>
                    9 - Cookies<br>
                    10 - Mídias incorporadas de outros sites<br>
                    11 - Segurança<br>
                    12 - Quais os seus direitos sobre seus dados<br>
                    13 - Quais as suas responsabilidades ao acessar nosso site<br>
                    14 - Mudanças dos Termos de Uso e da Política de Privacidade<br>
                    15 - Legislação aplicável<br>
                    16 - Como entrar em contato conosco
                </p>
             </div>
          </div>
       </div>
       <div class="col-md-7 offset-md-1">
          <div class="lc-block mb-5">
             <div editable="rich">
                <h3>1 - Informações Gerais</h3>
                <p>Atuamos no segmento de Atendimento Psicológico, online e presencial; a privacidade de cada paciente é extremamente importante para nós e nosso compromisso é protegê-la. Apresentamos a seguir nossa Política de Privacidade e os Termos de Uso que se aplicam a todos os usuários e todas as usuárias que acessam nosso site, inclusive os subdomínios. Esclarecemos a seguir quais dados são coletados pelo site e explicamos o motivo para que você possa compreender as condições de uso e acesso.</p>
                <p>Esta Política de Privacidade foi elaborada em conformidade com a LGPD (Lei Geral de Proteção de Dados Pessoais - 13.709/18), o Marco Civil da Internet (Lei 12.965/14) e também o Regulamento da União Europeia (EU n. 2016/6790).</p>
             </div>
          </div>
          <div class="lc-block mb-5">
             <div editable="rich">
                <h3>2 - Quem somos?</h3>
                <p>Este site foi desenvolvido para divulgar o trabalho profissional no atendimento de psicologia: consultas e terapias psicoterápicas, atendimento em consultório clínico e orientações de saúde mental. O endereço do nosso site é: <a href="/">psimonicacosta.com.br</a></p>
             </div>
          </div>
          <div class="lc-block mb-5">
             <div editable="rich">
                <h3>3 - Quem pode usar nosso site?</h3>
                <p>O site é destinado ao público em geral interessado pelo tema de psicoterapia e saúde mental. Os atendimentos psicológicos são destinados a pessoas adultas, a partir de 18 anos de idade.</p>
             </div>
          </div>
          <div class="lc-block mb-5">
             <div editable="rich">
                <h3>4 - Aceitação da Política de Privacidade e dos Termos de Uso</h3>
                <p>Ao acessar qualquer página deste site, você expressamente aceita esta <strong>Política de Privacidade</strong> e os <strong>Termos de Uso</strong> apresentados a seguir e concorda em revisar sempre que realizar um novo acesso, uma vez que pode ter alguma atualização. Sempre indicamos no rodapé a versão de publicação.</p>
             </div>
          </div>
          <div class="lc-block mb-5">
            <div editable="rich">
               <h3>5 - São coletadas informações pessoais?</h3>
               <p>Este site não possui área logada e não coleta informações pessoais para cadastro. Mas o Visitante afirma estar ciente que fornece informação de forma consciente e voluntária por meio do formulário de contato e outras formas de contato disponibilizadas no site, como aplicativo de mensagem e etc.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>6 - Quais informações são coletadas?</h3>
               <p>Quando o Visitante preenche o formulário no site ou utiliza qualquer outra forma de contato, determinados Dados Pessoais solicitados serão mantidos em sigilo: Nome, E-mail, Idade e Telefone.</p>
               <p>Nosso site pode coletar informações não-pessoais como endereço de IP e de dados do navegador no site, tipo de dispositivo e de browser utilizado, sistema operacional etc. O site pode usar cookies e tags do Google para melhorar a experiência da pessoa que visita o site e identificar quantas vezes acessou nosso endereço eletrônico, quanto tempo permaneceu e quais páginas acessou, leu ou recomendou. São informações anônimas para fins estatísticos.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>7 - Como são usadas as informações coletadas?</h3>
               <p><strong>Para melhorar nosso serviço:</strong> as informações nos ajudam a aprimorar nossos serviços e responder de forma mais efetiva aos contatos realizados.</p>
               <p><strong>Para garantir mais segurança ao site:</strong> as informações permitem que comportamentos fora do habitual e eventuais brechas de segurança do site sejam identificadas e tratadas, além de garantir obrigações legais e a proteção de direitos autorais.</p>
               <p><strong>Para personalizar sua experiência:</strong> as informações nos auxiliam a entender como as pessoas que visitam o site aproveitam as informações e como estão utilizando os recursos disponíveis. Por esse motivo, as estatísticas anônimas de visitação a nosso site e interação podem ser usadas para gerar novos conteúdos de interesse e também criar comunicações direcionadas para nosso público.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>8 - Por quanto tempo estes dados são armazenados?</h3>
               <p>Os dados não-pessoais coletados pelo site são armazenados e utilizados pelo tempo necessário para cumprir as finalidades elencadas neste documento e que considere os direitos de seus titulares, bem como os direitos do controlador do site e as disposições legais ou regulatórias aplicáveis.</p>
               <p>De acordo com o Art. 15 do Marco Civil da Internet, o tempo mínimo de armazenamento é de 6 meses para dados de acesso.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>9 - Cookies</h3>
               <p>Os pequenos arquivos de texto baixados automaticamente em seu dispositivo quando você acessa um site são denominados cookies. Eles são usados para que seja possível identificar dispositivos, atividades e as preferências de cada usuário. Os cookies não permitem que qualquer tipo de informação seja extraída do disco rígido do usuário, e não é possível por meio de cookies acessar informações pessoais que não tenham sido voluntariamente fornecidos pelo usuário. Os cookies podem ser desabilitados, mas isto poderá prejudicar a experiência de acesso, uma vez que as informações personalizadas deixarão de ser usadas.</p>
               <p>Aviso de cookies: utilizamos scripts para comunicação e controle dos consentimentos dos visitantes do nosso site de maneira escrita, livre e detalhada, conforme o artigo 8º da LGPD.</p>
            <p>Cookies do nosso site: São os arquivos de cookies enviados exclusivamente pelo nosso site para personalizar a experiência do usuário, melhorar nossos serviços e garantir a segurança do site.</p>
                <p>Cookies de Terceiros: É possível obter mais informações sobre os cookies de terceiros e como os dados obtidos a partir dele são tratados, além da descrição dos cookies utilizados e suas características, por meio do seguinte link: <a href="https://developers.google.com/analytics/devguides/collection/gajs/cookie-usage">Google Analytics</a></p>
                <p>Gestão de Cookies: O usuário poderá se opor ao registro de cookies pelo site, bastando que desative esta opção nas configurações do seu próprio navegador. A desativação dos cookies, no entanto, pode comprometer a disponibilidade de algumas funcionalidades do site. Além disso, a remoção das preferências do usuário pode prejudicar sua experiência de navegação e interação. A desativação de todos os cookies, no entanto, não é possível pois alguns são essenciais para que o site funcione corretamente.</p>
        </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>10 - Mídias incorporadas de outros sites</h3>
               <p>Páginas deste site podem incluir conteúdo incorporado de outros sites como links para sites e aplicativos de terceiros. Note que ao acessar estes conteúdos você se sujeita a outros termos de uso e políticas de privacidade pois esse tipo de conteúdo se comporta exatamente da mesma forma como se você estivesse visitando o outro site diretamente. A existência destes conteúdos em nosso site não significam que há qualquer tipo de vínculo comercial ou de patrocínio conosco e não temos qualquer responsabilidade com relação a tais terceiros.</p>
               <p>Estes sites podem coletar dados sobre você, usar cookies, incorporar rastreamento adicional de terceiros e monitorar sua interação com este conteúdo incorporado, incluindo sua interação com o conteúdo incorporado se você tem uma conta e está conectado com o site. Não temos acesso aos dados coletados pelos sites incorporados.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>11 - Segurança</h3>
               <p>Os dados coletados por este website são armazenados de maneira segura, utilizando um protocolo de segurança SSL/TLS (Secure Sockets Layer/Transport Layer Security) que criptografa as informações, da mesma forma realizada por sites de bancos e comércios eletrônicos. E como não coletamos dados pessoais, os usuários do site não estão expostos a incidentes com dados deste tipo.</p>
               <p>Mesmo com todas as precauções tomadas por nós para evitar incidentes de segurança, é possível acontecer algum problema causado exclusivamente por um terceiro (como, por exemplo em ataques de hackers) e caso ocorra alguma situação excepcional deste nos eximimos de responsabilidade. Na eventualidade de algum incidente de segurança que possa gerar risco ou dano relevante, comunicaremos quem for afetado e também a Autoridade Nacional de Proteção de Dados em conformidade com os dispositivos legais.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>12 - Seus direitos sobre seus dados</h3>
               <p>Você pode solicitar que removamos qualquer dado que mantemos sobre você. Isto exclui dados que somos obrigados a manter para propósitos administrativos, legais ou de segurança.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>13 - Quais as suas responsabilidades ao acessar nosso site</h3>
               <p>Você é responsável por todas as suas ações ou omissões realizadas em neste site, pelos conteúdos que enviar e também pela reparação de danos causados.</p>
               <p>Você concorda em respeitar a propriedade intelectual dos conteúdos publicados em qualquer página do nosso site, que só podem ser reproduzidos com nossa prévia e expressa autorização.</p>
               <p>Você é responsável por não violar nossas condições de uso e concorda em não praticar as seguintes ações: qualquer ato ilícito, violar direitos ou interesses de terceiros ou a legislação vigente; inutilizar ou modificar qualquer área do site; aproveitar o conteúdo do site com finalidade comercial sem prévia autorização expressa; enviar qualquer conteúdo obsceno, degradante, calunioso, difamatório, com apologia a crime, que expresse violência física, psicológica ou moral, que viole as disposições constitucionais brasileiras ou as convenções internacionais de direitos fundamentais, que promova, induza ou incite ódio, preconceito ou qualquer forma de discriminação por qualquer motivo; difundir serviços ilegais; usar qualquer sistema automatizado para realizar consultas ou acessos massificados, independente da finalidade; praticar atos que prejudiquem nosso site e/ou equipamentos de terceiros, incluindo qualquer tipo de vírus, bot, trojans, worm, malware, backdoor, spyware, rootkit etc.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>14 - Mudanças dos Termos de Uso e da Política de Privacidade</h3>
               <p>Sempre que houver alterações em nosso site ou ocorrerem mudanças legais, pode ser necessário atualizar esta Política de Privacidade para nos mantermos em conformidade. Tais mudanças podem acontecer a qualquer momento e, ao continuar acessando nosso site, você também concorda com as atualizações de nossos Termos de Uso e Política de Privacidade. Você pode consultar no rodapé desta página a data da versão publicada.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>15 - Legislação aplicável</h3>
               <p>Este documento é regido e deve ser interpretado de acordo com a Legislação Brasileira, em especial as leis 13.709/18 e 12.965/14. Fica eleito o foro da comarca do município de Niterói/RJ como competente para dirimir quaisquer questões oriundas do presente documento.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <h3>16 - Como entrar em contato?</h3>
               <p>Para esclarecer qualquer dúvida sobre nossos Termos de Uso e Política de Privacidade ou sobre os dados de acesso coletados, envie um e-mail para <a href="mailto:contato@psimonicacosta.com">contato@psimonicacosta.com.br</a>.</p>
            </div>
         </div>
         <div class="lc-block mb-5">
            <div editable="rich">
               <p><em>versão de 18/02/2024</em></p>
            </div>
         </div>
       </div>
    </div>
 </div> 
  
   
<!-- End Contacts -->
  
  <!-- Form Contact -->
  
  <!-- End Form Contact -->





<!-- footer -->
<%- include('footer') %>