<%- include ('header') %>
      <!-- end header section -->
      
      <!-- hero section -->
	  <div class="container col-xxl-8 px-5 pb-5 pt-5 mt-5">
        <div class="row flex-lg-row-reverse align-items-top justify-content-center g-0 py-1">
			<div class="col-10 col-sm-8 col-lg-5 my-2" data-anima="direita">
				<img src="./images/monica_sem_fundo_2.png" class="d-block img-fluid" alt="Monica Costa" width="" height="" loading="lazy">
			  </div>
			  <div class="col-lg-6 my-3 pt-lg-5" data-anima="esquerda">
	
            
            <img src="./images/logo/logo_nome.png" class="d-block mx-lg-auto img-fluid" alt="Monica Costa" width="" height="" loading="lazy">
            <!-- <h4>
              Psicóloga
            </h4>
            <h1 class="display-5 fw-bold lh-1 mb-3">
              Mônica Costa
            </h1> -->
            <p class="lead text-center py-3">
              Me conheça um pouco mais
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
				<a id="btnMinhaHistoria" class="botao-dourado px-4 mt-3 w-auto pulse-brilho" href="" id="btnBemVindo" role="button"><span>Minha História</span></a>

            </div>
          </div>
        </div>
      </div>
      <!-- end hero section -->

  </div>

<!-- btn whatsapp-->
    <a id="btn-whats" href="http://wa.me/5521992641050?text=Olá%20Mônica,%20vim%20através%20do%20site.%20Gostaria%20de%20agendar%20uma%20consulta,%20por%20favor." target="_blank" class="position-fixed bottom-0 end-0 m-3 m-lg-5 pulse-brilho" style="z-index: 2;"> 
		<img src="./images/whatsapp.svg" class="btn-modal-trat rise-shake" width="70px">
				 
	  </a>
<!-- end btn whatsapp -->


<main style="overflow-x: hidden; overflow-y: hidden">

<!-- History -->
<section id="minhaHistoria" class="container my-5 py-5">
	<div class="row px-3 px-lg-0">
		<div class="col-md-4 align-self-center" data-anima="esquerda">
			<div class="lc-block border-top py-4" style="letter-spacing:10px">
				<div editable="rich">
					<h2><strong>MINHA HISTÓRIA</strong></h2>
				</div>
			</div>
		</div>
		<div class="col-md-8" data-anima="direita">
			<div class="lc-block">
				<div editable="rich">

					<p class="fs-5 text-center"><strong>Uma jornada de professora a psicóloga.&nbsp;</strong></p>


				</div>
			</div>

			<div class="lc-block">
				<div editable="rich">

					<p class="lead">Eu sempre quis ser professora, mas a vida me levou para a Administração. Trabalhei nessa área por dez anos, mas nunca deixei de gostar de ouvir e ajudar as pessoas. <strong>Eu também passei por momentos muito difíceis</strong>, como perder o meu primeiro filho, e ter uma síndrome que afetava a minha gravidez. Mas eu não perdi a fé, e consegui ter mais dois filhos, que são a minha alegria.</p>


				</div>
			</div>

			<div class="lc-block">
				<div editable="rich">

					<p class="lead">Com tantas mudanças, eu me senti perdida, e procurei a terapia. Ela me ajudou a <strong>me conhecer melhor, a superar os meus traumas, e a encontrar um novo sentido para a vida.</strong> Ela me fez lembrar do meu sonho de infância, de ser professora, mas de uma forma diferente<strong>. Percebi que eu queria ensinar as pessoas a se amarem, a se cuidarem, a se realizarem.</strong> Entendi que eu queria ser psicóloga.</p>

				</div>
			</div>

			<div class="lc-block">
				<div editable="rich">

					<p class="lead">Eu fiz outra faculdade, de Psicologia, e me <strong>apaixonei pela profissão</strong>. Me especializei em <strong>Terapia Cognitivo-Comportamental</strong>, comecei a atuar em consultório e principalmente online por ser mais acessível e gerar os <strong>mesmos resultados</strong>, atendendo jovens, adultos e idosos. Também criei um perfil no Instagram, onde eu compartilho conteúdos sobre psicologia e <strong>saúde mental.</strong></p>

				</div>
			</div>

			<div class="lc-block">
				<div editable="rich">

					<p class="lead">Hoje, eu sou <strong>feliz, realizada e grata</strong>. Sou a Psicóloga Mônica, e tenho o prazer de <strong>ensinar e aprender</strong> com as pessoas que passam pelo meu caminho.</strong> Eu tenho o orgulho de fazer parte dessa profissão tão nobre e <strong>tão necessária</strong>. Eu tenho a esperança de contribuir para um mundo melhor, <strong>mais humano, e mais feliz</strong>.</p>

				</div>
			</div>

		</div>
	</div>
</section> 
<!-- End History -->


  
<!-- Curriculo -->
<!-- <section id="experiencia" class="container py-5 mt-5">
	<div class="row px-3 px-lg-0 flex-lg-row-reverse">
		
		<div class="col-md-4 align-self-center" data-anima="direita">
			<div class="lc-block border-top py-4" style="letter-spacing:10px">
				<div editable="rich">
					<h2><strong>MINHA EXPERIÊNCIA</strong></h2>
				</div>
			</div>
		</div>

		<div class="col-md-8" data-anima="esquerda">
			<div class="lc-block">
				<div editable="rich">

					<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus porttitor dui, in vestibulum metus pulvinar sit amet. Phasellus finibus fermentum eros quis maximus. Aenean feugiat elit id quam ornare, in iaculis nunc tincidunt. Nullam pellentesque ante sit amet ipsum pulvinar, ac accumsan metus pulvinar.&nbsp;</strong></p>


				</div>
			</div>
			<div class="lc-block">
				<div editable="rich">

					<p>Mauris sollicitudin, ante quis suscipit molestie, est tellus semper nunc, quis porttitor tellus tortor et orci. Quisque egestas gravida eros et tristique. Praesent arcu turpis, rhoncus at nunc ut, ornare ultrices purus. Nullam fermentum eros eget sapien dignissim eleifend. Maecenas sodales, neque vestibulum aliquam varius, elit turpis tincidunt enim, eu pellentesque leo ante sit amet lectus.</p>


				</div>
			</div>
			<div class="lc-block">
				<div editable="rich">

					<p><em>Pellentesque eu dolor in enim efficitur dapibus id quis nisi. Quisque interdum bibendum vulputate. Nunc dui lacus, ultrices id gravida tempor, sollicitudin dapibus nisl. Vivamus dictum quam in purus commodo molestie. Mauris ultricies tortor urna. Praesent non aliquet lectus. Sed eget massa mauris. Vestibulum euismod cursus tortor, et aliquet orci facilisis eu. Cras ultricies luctus dolor quis laoreet. Suspendisse nisi massa, feugiat in dignissim sed, fermentum sed nibh.</em></p>


				</div>
			</div>
		</div>
       
	</div>
</section>  -->
<!-- End Curriculo -->

<div class="container d-grid gap-2 d-md-flex justify-content-center mb-5" data-anima="baixo">
	<a class="botao-dourado px-4 mt-3 w-auto pulse-brilho" href="/tratamentos"role="button"><span>Tratamentos</span></a>       
</div>

</main>
<!-- footer -->
<%- include ('footer') %>