<%- include ('header') %>
      <!-- end header section -->
      
      <!-- hero section -->
      <div class="container col-xxl-8 px-5 pb-5 pt-5 mt-5">
        <div class="row flex-lg-row-reverse align-items-top justify-content-center g-0 py-1">
			<div class="col-10 col-sm-8 col-lg-5 my-2" data-anima="direita">
				<img src="./images/monica_sem_fundo_2.png" class="d-block img-fluid" alt="Monica Costa" width="" height="" loading="lazy">
			</div>
			<div class="col-lg-6 pt-lg-5" data-anima="esquerda">
            	<img src="./images/logo/logo_nome.png" class="d-block mx-lg-auto img-fluid" alt="Monica Costa" width="" height="" loading="lazy">
                <p class="lead text-center pt-2">
					Vamos tratar juntos os pensamentos, emoções e comportamentos que te trazem sofrimento
        	    </p>
          	</div>
        </div>
      </div>
      <!-- end hero section -->

	</div>


<!-- Tratamentos -->  

<div class="d-lg-flex justify-content-center container">

<!-- ANSIEDADE -->
<section class="container d-flex justify-content-center my-5 px-lg-5">
	
	<!-- Button trigger modal -->
<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalAnsiedade" data-anima="baixo">
	<h1 class="position-absolute top-50 start-50 translate-middle display-4">ANSIEDADE</h1>
	<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="modalAnsiedade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAnsiedadeLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="modalAnsiedadeLabel">Ansiedade</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<h3 class="fs-5">O que é:</h3>
			<p class="lead pb-3">
				A ansiedade é como uma tempestade dentro de nós, trazendo sintomas como <strong>coração acelerado, suor nas mãos e um medo que parece não ter fim</strong>. Mas não se preocupe, a Terapia Cognitivo-Comportamental está aqui para ajudar!
			</p>
			<h3 class="fs-5">Como funciona o tratamento:</h3>
			<p class="lead">
				Com a TCC, identificamos possíveis <strong>distorções de pensamento ou comportamento</strong> e aprendemos a diminuir o impacto emocional causado por essas distorções. Vamos utilizar recursos para desenvolver novas habilidades e gerenciar os gatilhos e sintomas da ansiedade. Embarque nessa jornada de autoconhecimento, onde aprendemos a desvendar os mistérios dos nossos pensamentos e emoções. Ao final dessa jornada, quem sabe você não se torna o herói da sua própria história?
			</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
		  <a href="http://wa.me/5521992641050?text=Olá%20Mônica,%20vim%20através%20do%20site.%20Gostaria%20de%20agendar%20uma%20avaliação%20para%20tratamento%20de%20ansiedade." target="_blank" class="btn btn-primary">Agendar avaliação</a>
		</div>
	  </div>
	</div>
  </div>

</section>
<!-- end Ansiedade-->


<!-- DEPRESSÃO -->
<section class="container d-flex justify-content-center my-5 px-lg-5">
	
	<!-- Button trigger modal -->
	<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalDepressao" data-anima="baixo">
		<h1 class="position-absolute top-50 start-50 translate-middle display-4">DEPRESSÃO</h1>
		<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
	</button>
	  
	  <!-- Modal -->
	  <div class="modal fade" id="modalDepressao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDepressaoLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="modalDepressaoLabel">Depressão</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h3 class="fs-5">O que é:</h3>
				<p class="lead pb-3">
					A depressão é um transtorno mental caracterizado por sintomas persistentes de tristeza, perda de interesse ou prazer, alterações no sono e apetite, fadiga, dificuldade de concentração e pensamentos negativos. Pode afetar significativamente a qualidade de vida e o funcionamento diário.
				</p>	
				<h3 class="fs-5">Como funciona o tratamento:</h3>
				<p class="lead">
					Para a TCC o sujeito com depressão possui uma <strong>tríade cognitiva negativa</strong>, isto é, <strong>a visão de si, do mundo e do futuro é distorcida</strong>. Portanto, ajuda os pacientes a entenderem seus pensamentos negativos automáticos e a substituí-los por pensamentos realistas e saudáveis. Por isso, é fundamental buscar ajuda profissional para avaliar o quadro individual e definir o melhor plano de tratamento.
				</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
			  <a href="http://wa.me/5521992641050?text=Olá%20Mônica,%20vim%20através%20do%20site.%20Gostaria%20de%20agendar%20uma%20avaliação%20para%20tratamento%20de%20depressão." target="_blank" class="btn btn-primary">Agendar avaliação</a>
			</div>
		  </div>
		</div>
	  </div>
	
	</section>
<!-- end Depressao-->

</div>



<div class="d-lg-flex justify-content-center container">
	
	<!-- VICIOS -->
	<section class="container d-flex justify-content-center my-5 px-lg-5">
		
		<!-- Button trigger modal -->
		<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalVicios" data-anima="baixo">
			<h1 class="position-absolute top-50 start-50 translate-middle display-4">VÍCIOS</h1>
			<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
				</button>
		
		<!-- Modal -->
		<div class="modal fade" id="modalVicios" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalViciosLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalViciosLabel">Vícios</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h3 class="fs-5">O que é:</h3>
					<p class="lead pb-3">
						O vício é um padrão de comportamento no qual uma pessoa se torna dependente de uma <strong>substância</strong> (como drogas ou álcool) ou de um <strong>comportamento</strong> (como jogos de azar, redes sociais ou jogos online). Essa <strong>dependência</strong> pode ter efeitos negativos na vida do indivíduo, afetando sua saúde física, emocional, social e profissional. 
					</p>
					<h3 class="fs-5">Como funciona o tratamento:</h3>
					<p class="lead">
						A TCC tem sido usada com sucesso no tratamento de dependências de drogas e álcool, bem como em outros distúrbios mentais, como depressão e ansiedade. Ela oferece aos pacientes uma <stong>visão mais saudável da vida</stong> e capacitação para mudar seu futuro. Mas lembre-se de que a TCC é uma <strong>ferramenta poderosa</strong>, porém é importante procurar um <strong>profissional qualificado</strong> para orientação e suporte adequados. É essencial que o paciente esteja motivado e comprometido com a mudança.
					</p>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
				<a href="http://wa.me/5521992641050?text=Olá%20Mônica,%20vim%20através%20do%20site.%20Gostaria%20de%20agendar%20uma%20avaliação%20para%20tratamento%20de%20vício" target="_blank" class="btn btn-primary">Agendar avaliação</a>
				</div>
			</div>
			</div>
		</div>
		
		</section>
	<!-- end Vicios-->


	<!-- ESTRESSE PÓS-TRAUMATICO -->
	<section class="container d-flex justify-content-center my-5 px-lg-5">
		
		<!-- Button trigger modal -->
		<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalEstresse" data-anima="baixo">
			<h1 class="position-absolute top-50 start-50 translate-middle display-5">ESTRESSE PÓS-TRAUMÁTICO</h1>
			<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
			
		</button>
		
		<!-- Modal -->
		<div class="modal fade" id="modalEstresse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEstresseLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalEstresseLabel">Estresse Pós-traumático</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h3 class="fs-5">O que é:</h3>
					<p class="lead pb-3">
						Após uma pessoa ter sido <stron>vítima ou testemunha</stron> de eventos traumáticos, que podem variar desde violência extrema até situações de exclusão social e humilhação. As lembranças desses acontecimentos intensos tendem a ser <strong>revividas</strong> sempre que são relembradas, causando emoções negativas e ansiedade. Dependendo do gatilho, as crises podem ser <strong>frequentes ou espaçadas</strong>, afetando a qualidade de vida. 
					</p>
					<h3 class="fs-5">Como funciona o tratamento:</h3>
					<p class="lead">
						Uma das principais vantagens do tratamento cognitivo-comportamental é que, devido às suas técnicas, ele tende a ter <strong>um efeito mais imediato</strong> no dia a dia do paciente. Como sua prioridade é a reeducação da pessoa e produzir melhorias no seu dia a dia, todo o seu trabalho é estruturado para maximizar resultados de curto prazo, pois isso facilita o resto do tratamento. Essa vertente também trabalha no longo prazo para <strong>reelaborar os pensamentos</strong>, fazendo com que todas essas mudanças sejam mais profundas e se mantenham após o fim do tratamento.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
					<a href="http://wa.me/5521992641050?text=Olá%20Mônica,%20vim%20através%20do%20site.%20Gostaria%20de%20agendar%20uma%20avaliação%20para%20tratamento%20de%20estresse%20pós-traumático." target="_blank" class="btn btn-primary">Agendar avaliação</a>
				</div>
			</div>
			</div>
		</div>
		
	</section>
	<!-- end Estresse-->

</div>



<div class="d-lg-flex justify-content-center container">
	
	<!-- FOBIAS -->
	<section class="container d-flex justify-content-center my-5 px-lg-5">
		
		<!-- Button trigger modal -->
	<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalFobias" data-anima="baixo">
		<h1 class="position-absolute top-50 start-50 translate-middle display-4">FOBIAS</h1>
		<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
	</button>
	  
	  <!-- Modal -->
	  <div class="modal fade" id="modalFobias" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalFobiasLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="modalFobiasLabel">Fobias</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h3 class="fs-5">O que é:</h3>
				<p class="lead pb-3">
					As fobias são classificadas como transtornos de ansiedade. Elas se manifestam por meio de sintomas físicos e mentais, como <strong>preocupação extrema, angústia, medo desproporcional</strong> à ameaça real, <strong>alterações fisiológicas</strong> (como suor frio, tremores e palpitações) e problemas relacionados ao sono. Para ser considerada uma fobia, a condição deve <strong>impactar significativamente</strong> a vida do indivíduo, causando prejuízos profissionais, pessoais, sociais, financeiros ou de saúde. Os Principais tipos são a <strong>Fobia Social:</strong> caracterizada pelo Medo ou ansiedade acentuados diante de situações em que a pessoa é exposta à avaliação por terceiros e a <strong>Agorafobia:</strong> Manifesta-se como medo ou ansiedade desproporcionais ao perigo real apresentado pelas situações agorafóbicas e ao contexto sociocultural. 
				<h3 class="fs-5">Como funciona o tratamento:</h3>
				<p class="lead">
					A TCC utiliza técnicas como reestruturação cognitiva, exposição gradual e treinamento de habilidades sociais para tratar as fobias, proporcionando alívio e melhoria na qualidade de vida.
				</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
			  <a href="http://wa.me/5521992641050?text=Olá%20Mônica,%20vim%20através%20do%20site.%20Gostaria%20de%20agendar%20uma%20avaliação%20para%20tratamento%20de%20fobia." target="_blank" class="btn btn-primary">Agendar avaliação</a>
			</div>
		  </div>
		</div>
	  </div>
	
	</section>
	<!-- end Fobias-->
	
	
	<!-- TRANSTORNOS DO SONO -->
	<section class="container d-flex justify-content-center my-5 px-lg-5">
		
		<!-- Button trigger modal -->
		<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalTSono" data-anima="baixo">
			<h1 class="position-absolute top-50 start-50 translate-middle display-5">TRANSTORNOS DO SONO</h1>
			<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
		</button>
		  
		  <!-- Modal -->
		  <div class="modal fade" id="modalTSono" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTSonoLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			  <div class="modal-content">
				<div class="modal-header">
				  <h1 class="modal-title fs-5" id="modalTSonoLabel">Transtorno do Sono</h1>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h3 class="fs-5">O que é:</h3>
					<p class="lead pb-3">
						São alterações que afetam a capacidade de <strong><me>dormir adequadamente</me></strong> ou causam sonolência durante o dia. Veja abaixo alguns distúrbios do sono mais comuns. <strong>Insônia:</strong> dificuldade em iniciar o sono, manter o sono, despertares noturnos ou acordar cedo demais; <strong>Apneia do sono:</strong> Interrupção do fluxo respiratório por 10 segundos ou mais devido ao colapso das vias aéreas; <strong>Sonambulismo:</strong> Durante o sono profundo, a pessoa se levanta e realiza atividades sem estar totalmente consciente; <strong>Bruxismo:</strong> O ranger ou apertar dos dentes durante o sono pode causar desgaste dentário e desconforto; <strong>Paralisia do sono:</strong> É uma sensação de estar acordado, mas incapaz de se mover ou falar. Pode ser assustadora, mas geralmente é inofensiva. 
					</p>
					<h3 class="fs-5">Como funciona o tratamento:</h3>
					<p class="lead">
						A TCC-I (TCC para insônia) é especialmente eficaz no tratamento da insônia, melhorando a <strong>higiene do sono</strong> e promovendo <strong>mudanças comportamentais positivas</strong>.
					</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
				  <a href="http://wa.me/5521992641050?text=Olá%20Mônica,%20vim%20através%20do%20site.%20Gostaria%20de%20agendar%20uma%20avaliação%20para%20tratamento%20de%20transtorno%20do%20sono." target="_blank" class="btn btn-primary">Agendar avaliação</a>
				</div>
			  </div>
			</div>
		  </div>
		
		</section>
	<!-- end Transtorno do sono-->
	
</div>



<div class="d-lg-flex justify-content-center container">
	
	<!-- TRANSTORNOS ALIMENTARES -->
	<section class="container d-flex justify-content-center my-5 px-lg-5">
		
		<!-- Button trigger modal -->
	<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalTA" data-anima="baixo">
		<h1 class="position-absolute top-50 start-50 translate-middle display-5">TRANSTORNOS ALIMENTARES</h1>
		<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
	</button>
		
		<!-- Modal -->
		<div class="modal fade" id="modalTA" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTALabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalTALabel">Transtornos Alimentares</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h3 class="fs-5">O que é:</h3>
					<p class="lead pb-3">
						São perturbações no comportamento alimentar que afetam a saúde física e emocional das pessoas. Esses distúrbios <strong>não se limitam apenas à alimentação</strong>, mas também estão relacionados a aspectos biológicos, psicológicos e sociais. Os principais tipos de transtornos alimentares são a <strong>Anorexia Nervosa:</strong> Medo compulsivo de ganhar peso, a <strong>Bulimia Nervosa:</strong> episódios de compulsão alimentar seguidos por comportamentos compensatórios, e o <strong>Transtorno de Compulsão Alimentar Periódica:</strong> Caracteriza-se pelo consumo desmoderado de alimentos sem comportamentos compensatórios.
					</p> 
					
				<h3 class="fs-5">Como funciona o tratamento:</h3>
					<p class="lead">
						A Terapia Cognitivo-Comportamental (TCC) visa a uma intervenção direta para superar o distúrbio de imagem corporal, diminuir práticas rígidas de dieta ou atividade física, facilitar o aumento saudável do peso e modificar crenças disfuncionais associadas à aparência, peso e alimentação.
					</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
				<a href="http://wa.me/5521992641050?text=Olá%20Mônica,%20vim%20através%20do%20site.%20Gostaria%20de%20agendar%20uma%20avaliação%20para%20tratamento%20de%20transtorno%20alimentar" target="_blank" class="btn btn-primary">Agendar avaliação</a>
			</div>
			</div>
		</div>
		</div>

	</section>
	<!-- end Fobias-->

		
	<!-- (TOC) -->
	<section class="container d-flex justify-content-center my-5 px-lg-5">
		
		<!-- Button trigger modal -->
		<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalToc" data-anima="baixo">
			<h1 class="position-absolute top-50 start-50 translate-middle display-5">TOC</h1>
			<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
		</button>
			
			<!-- Modal -->
			<div class="modal fade" id="modalToc" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTocLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modalTocLabel">Transtorno Obsessivo Compulsivo</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h3 class="fs-5">O que é:</h3>
					<p class="lead pb-3">Popularmente conhecido como TOC, é um distúrbio psicológico caracterizado pela presença de <strong>obsessões</strong> (pensamentos indesejados e persistentes) e <strong>compulsões</strong> (comportamentos repetitivos). Esses sintomas <strong>consomem tempo e interferem significativamente</strong> nas rotinas diárias, no trabalho, nas relações familiares e sociais, causando sofrimento intenso.</p> 
						
					<h3 class="fs-5">Como funciona o tratamento:</h3>
					<p class="lead">Durante a TCC, o paciente aprende a identificar e modificar padrões de <strong>pensamentos disfuncionais</strong> e a desenvolver estratégias para lidar com as <strong>obsessões e compulsões</strong>. Se você ou alguém que conhece está enfrentando o TOC, a busca por um profissional especializado em TCC pode ser um passo importante para o tratamento.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
					<a href="http://wa.me/5521992641050?text=Olá%20Mônica,%20vim%20através%20do%20site.%20Gostaria%20de%20agendar%20uma%20avaliação%20para%20tratamento%20de%20transtorno%20obsessivo%20compulsivo." target="_blank" class="btn btn-primary">Agendar avaliação</a>
				</div>
				</div>
			</div>
			</div>
		
		</section>
	<!-- end TOC-->
	
</div>
    
<!--end Tratamentos -->

<!-- Botão Contato -->
<div class="container d-grid gap-2 d-md-flex justify-content-center mb-5" data-anima="baixo">
	<a class="botao-dourado px-4 mt-3 w-auto pulse-brilho" href="/contato"role="button">
		<span>Contatos</span>
	</a>       
</div>
<!-- end Botão Contato -->


<!-- footer -->
<%- include ('footer') %>