<%- include ('header') %>
      <!-- end header section -->
      
      <!-- hero section -->
      <div class="container col-xxl-8 px-5 pb-5 pt-5 mt-5">
        <div class="row flex-lg-row-reverse align-items-top justify-content-end g-0 py-1">
          <div class="col-10 col-sm-8 col-lg-6 my-2" data-anima="direita">
            <img src="./images/monica_sem_fundo_2.png" class="d-block mx-lg-auto img-fluid" alt="Monica Costa" width="" height="" loading="lazy">
          </div>
          <div class="col-lg-6 my-3  pt-lg-5" data-anima="esquerda">
            
            <img src="./images/logo/logo_nome.png" class="d-block mx-lg-auto img-fluid" alt="Monica Costa" width="" height="" loading="lazy">
            <!-- <h4>
              Psicóloga
            </h4>
            <h1 class="display-5 fw-bold lh-1 mb-3">
              Mônica Costa
            </h1> -->
            <p class="lead text-center pt-3">
				Vamos tratar juntos os comportamentos, emoções ou pensamentos que te trazem sofrimento
            </p>
            <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn-lg px-4 me-md-2 botao-dourado" style="background-color:#000"::before>
                <span>
                  <a href="#depressao" style="color: #b4882f; ">Tratamentos</a>
                </span>
               </button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- end hero section -->

	</div>


<!-- Tratamentos -->  

<div class="d-lg-flex justify-content-center container">

<!-- ANSIEDADE -->
<section class="container d-flex justify-content-center my-5 px-lg-5">
	
	<!-- Button trigger modal -->
<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalAnsiedade" data-anima="baixo">
	<h1 class="position-absolute top-50 start-50 translate-middle display-4">ANSIEDADE</h1>
	<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="modalAnsiedade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAnsiedadeLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="modalAnsiedadeLabel">Ansiedade</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<p class="lead">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
		  <button type="button" class="btn btn-primary">Iniciar Tratamento</button>
		</div>
	  </div>
	</div>
  </div>

</section>
<!-- end Ansiedade-->


<!-- DEPRESSÃO -->
<section class="container d-flex justify-content-center my-5 px-lg-5">
	
	<!-- Button trigger modal -->
	<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalDepressao" data-anima="baixo">
		<h1 class="position-absolute top-50 start-50 translate-middle display-4">DEPRESSÃO</h1>
		<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
	</button>
	  
	  <!-- Modal -->
	  <div class="modal fade" id="modalDepressao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDepressaoLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="modalDepressaoLabel">Depressão</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p class="lead">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
			  <button type="button" class="btn btn-primary">Iniciar Tratamento</button>
			</div>
		  </div>
		</div>
	  </div>
	
	</section>
<!-- end Depressao-->

</div>

<div class="d-lg-flex justify-content-center container">
	
<!-- VICIOS -->
<section class="container d-flex justify-content-center my-5 px-lg-5">
	
	<!-- Button trigger modal -->
	<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalVicios" data-anima="baixo">
		<h1 class="position-absolute top-50 start-50 translate-middle display-4">VÍCIOS</h1>
		<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
			</button>
	  
	  <!-- Modal -->
	  <div class="modal fade" id="modalVicios" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalViciosLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="modalViciosLabel">Vícios</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p class="lead">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
			  <button type="button" class="btn btn-primary">Iniciar Tratamento</button>
			</div>
		  </div>
		</div>
	  </div>
	
	</section>
<!-- end Vicios-->



<!-- ESTRESSE PÓS-TRAUMATICO -->
<section class="container d-flex justify-content-center my-5 px-lg-5">
	
	<!-- Button trigger modal -->
	<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalEstresse" data-anima="baixo">
		<h1 class="position-absolute top-50 start-50 translate-middle display-5">ESTRESSE PÓS-TRAUMÁTICO</h1>
		<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
		
	</button>
	  
	  <!-- Modal -->
	  <div class="modal fade" id="modalEstresse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEstresseLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="modalEstresseLabel">Estresse Pós-traumático</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p class="lead">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
				<button type="button" class="btn btn-primary">Iniciar Tratamento</button>
			</div>
		  </div>
		</div>
	  </div>
	
</section>
<!-- end Estresse-->

</div>

<div class="d-lg-flex justify-content-center container">
	
	<!-- FOBIAS -->
	<section class="container d-flex justify-content-center my-5 px-lg-5">
		
		<!-- Button trigger modal -->
	<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalFobias" data-anima="baixo">
		<h1 class="position-absolute top-50 start-50 translate-middle display-4">FOBIAS</h1>
		<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
	</button>
	  
	  <!-- Modal -->
	  <div class="modal fade" id="modalFobias" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalFobiasLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="modalFobiasLabel">Fobias</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p class="lead">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
			  <button type="button" class="btn btn-primary">Iniciar Tratamento</button>
			</div>
		  </div>
		</div>
	  </div>
	
	</section>
	<!-- end Fobias-->
	
	
	<!-- TRANSTORNOS DO SONO -->
	<section class="container d-flex justify-content-center my-5 px-lg-5">
		
		<!-- Button trigger modal -->
		<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalDepressao" data-anima="baixo">
			<h1 class="position-absolute top-50 start-50 translate-middle display-5">TRANSTORNOS DO SONO</h1>
			<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
		</button>
		  
		  <!-- Modal -->
		  <div class="modal fade" id="modalDepressao" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDepressaoLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			  <div class="modal-content">
				<div class="modal-header">
				  <h1 class="modal-title fs-5" id="modalDepressaoLabel">Depressão</h1>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p class="lead">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
				  <button type="button" class="btn btn-primary">Iniciar Tratamento</button>
				</div>
			  </div>
			</div>
		  </div>
		
		</section>
	<!-- end Transtorno do sono-->
	
</div>

<div class="d-lg-flex justify-content-center container">
	
	<!-- TRANSTORNOS ALIMENTARES -->
	<section class="container d-flex justify-content-center my-5 px-lg-5">
		
		<!-- Button trigger modal -->
	<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalTA" data-anima="baixo">
		<h1 class="position-absolute top-50 start-50 translate-middle display-5">TRANSTORNOS ALIMENTARES</h1>
		<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
	</button>
	  
	  <!-- Modal -->
	  <div class="modal fade" id="modalTA" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTALabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h1 class="modal-title fs-5" id="modalTALabel">Transtornos Alimentares</h1>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p class="lead">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
			  <button type="button" class="btn btn-primary">Iniciar Tratamento</button>
			</div>
		  </div>
		</div>
	  </div>
	
	</section>
	<!-- end Fobias-->
	
	
<!-- (TOC) -->
<section class="container d-flex justify-content-center my-5 px-lg-5">
	
	<!-- Button trigger modal -->
	<button type="button" class="btn border-none shadow w-100 btn-modal-trat" data-bs-toggle="modal" data-bs-target="#modalToc" data-anima="baixo">
		<h1 class="position-absolute top-50 start-50 translate-middle display-5">TOC</h1>
		<img class="w-100 rounded opacity-50" src="./images/outono.jpg" sizes="" width="" height="" alt="Photo by Photographer Frederik Trovatten" loading="lazy">
	</button>
		
		<!-- Modal -->
		<div class="modal fade" id="modalToc" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTocLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalTocLabel">Transtorno Obssessivo Compulsivo</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p class="lead">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
				<button type="button" class="btn btn-primary">Iniciar Tratamento</button>
			</div>
			</div>
		</div>
		</div>
	
	</section>
<!-- end TOC-->
	
	</div>
    
<!--end Tratamentos -->

<!-- Botão Contato -->
<div class="container d-grid gap-2 d-md-flex justify-content-md-center mt-lg-5 mb-lg-5" data-anima="baixo">
    <button type="button" class="btn-lg px-4 me-md-2 botao-dourado w-auto" style="background-color:#000"::before>
      <span>
        <a href="/contato" style="color: #b4882f; ">Entrar em contato</a>
      </span>
     </button>
</div>
<!-- end Botão Contato -->


<!-- footer -->
<%- include ('footer') %>